{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'restaurant/style.css' %}" />
     <center>
     <ul>
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="/menu/">Menu</a></li>
        <li style="float:right"><a class="active" href="/order/">Objednavka</a></li>
     </ul>
    <div>
        <form action="/conf_order/" method="get">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Pridat">
        </form>
    </div>
    </center>
