{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'restaurant/style.css' %}" />
{% if zoznam %}
     <center>
     <ul>
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="/menu/">Menu</a></li>
        <li style="float:right"><a class="active" href="/order/">Objednavka</a></li>
     </ul>
    <div class="clearfix">
    {% for food in zoznam %}
    <div class="div1">
    <center>
        <img src="{{ MEDIA_URL }}{{ food.picture.url }}" alt="{{ food.name }}">
        <h2> {{ food.name}} </h2>
        <p>Cena: {{ food.price }}czk</p>
        <p>Hmotnost: {{ food.weight}}g</p>
        <p>Zlozenie: {{ food.ingredients}}</p>
        {% with food.id as name %}
        {% for item in items %}
            {% with item.0 as vec %}
            {% if vec == name|slugify %}
                <p> Mnozstvo: {{ item.1 }} </p>
            {% endif %}
            {% endwith %}  
        {% endfor %}
        {% endwith %}  
        <form action="/del_food/" method="post">
            {% csrf_token %}
        <input type="hidden" name="food_type" value="{{ food.id }}">
        <input type="submit" value="Odobrat">
        </form>
    </center>
    </div>
    {% endfor %}
    <p> Spolu: {{ spolu }}</p>
    TODO: Funkcny formular, view pre objednavku, nastavit limity div-ov, delete button, submit button
    </div>
    <div>
        <form action="/conf_order/" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="hidden" name="price" value="{{ spolu }}">
        <input type="submit" value="Objednat">
        </form>
    </div>
    </center>
{% else %}
    <p>No food available.</p>
{% endif %}