{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'restaurant/style.css' %}" />
     <center>
     <ul>
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="/menu/">Menu</a></li>
        <li style="float:right"><a class="active" href="#about">Objednavka</a></li>
     </ul>
    <div class="clearfix">
     <p> Generic text wall. </p>
    </div>
    </center>