{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'restaurant/style.css' %}" />
{% if all_food_list %}
     <center>
     <ul>
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="/menu/">Menu</a></li>
        <li style="float:right"><a class="active" href="/order/">Objednavka</a></li>
     </ul>
    <div class="clearfix">
    {% for food in all_food_list %}
    <div class="div1">
    <center>
        <img src="{{ MEDIA_URL }}{{ food.picture.url }}" alt="{{ food.name }}">
        <h2> {{ food.name}} </h2>
        <p>Cena: {{ food.price }}czk</p>
        <p>Hmotnost: {{ food.weight}}g</p>
        <p>Zlozenie: {{ food.ingredients}}</p>
        <form action="/get_food/" method="post">
            {% csrf_token %}
        Mnozstvo: <input id="test" type="number" name="quantity" min="0" max="30" step="1" value="1">
        <input type="hidden" name="food_type" value="{{ food.id }}">
        <input type="submit" value="Pridat">
        </form>
    </center>
    </div>
    {% endfor %}
    TODO: nastavit limity div-ov, zistit preco nefunguje session tak ako ma, mozno pridat upravu mnozstva do objednavky, vytvorit view pre odoslani
    objednavky.
    </div>
    </center>
{% else %}
    <p>No food available.</p>
{% endif %}