.div1 {
    float: left;
    width: 200px; 
    margin: 10px;
    border: 3px solid #73AD21;
}

.clearfix {
    overflow: auto;
    width:678px;
    height:auto;
    border: 3px solid red;
}

img {
    width: 150px;
    height: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}